<div class="product">
  <button class="love" (click)="toggleLove()">
    <i *ngIf="!loved" class="fa-sharp fa-regular fa-heart"></i>
    <i *ngIf="loved" class="fa-sharp fa-solid fa-heart"></i>
  </button>
  <span class="discount" *ngIf="product.discount.isValid"
    >{{ product.discount.percentage }} % off</span
  >
  <div class="thumb">
    <img [src]="product.thumbnail" alt="" />
  </div>
  <div class="info">
    <span class="brand">{{ product.brand }}</span>
    <h5 class="title" [routerLink]="['/shop', product._id]">
      <a>{{ product.title }}</a>
    </h5>
    <div class="price">
      <span [ngClass]="{ 'real-throw': product.discount.isValid }">{{
        product.price
      }}</span>
      <span *ngIf="product.discount.isValid" class="afterDisc"
        >{{ product.priceAfterDiscount }} </span
      >$
    </div>
  </div>
  <div class="info btns-ctrls">
    <button><i class="fa-sharp fa-solid fa-cart-plus"></i></button>
  </div>
</div>
