<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/shop">
      <img src="../../../../assets/imgs/logo/shopping-cart.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav m-auto">
        <a class="nav-link" routerLink="/shop">
          <i class="fa fa-shop"></i>
          shop
        </a>
        <a class="nav-link" routerLink="/shop/popular">
          <i class="fa-solid fa-fire"></i>
          popular
        </a>
        <a *ngIf="isAuth" class="nav-link" routerLink="/user/favs">
          <i
            [matBadge]="favsLength"
            matBadgeColor="warn"
            class="fa-solid fa-heart"
          ></i>
        </a>
        <a *ngIf="isAuth" class="nav-link" routerLink="user/cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <a *ngIf="isAuth" class="nav-link" routerLink="/user/profile">
          <i class="fa-solid fa-user"></i>
        </a>
        <a *ngIf="!isAuth" class="nav-link" routerLink="/auth/signin">
          <i class="fa-solid fa-right-to-bracket"></i>
        </a>
        <a *ngIf="isAuth" class="nav-link" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
